<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhulong.mine">

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".application.MineModuleApp"
        android:allowBackup="true"
        android:icon="@mipmap/base_ic_launcher"
        android:label="@string/mine_name"
        android:roundIcon="@mipmap/base_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeStart"
        tools:replace="android:label">
        <activity android:name=".view.MineSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.login.LoginActivity" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="375"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="812"/>
    </application>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>